@use 'scss-reset/reset';
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "./style/default.scss";

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    overflow: hidden;
}

.task-select-container {
    border-radius: 4px !important;
    @apply w-full h-9;
    @include colorTaskText;
}

.mdc-list-item__primary-text {
    font-size: 12px !important;
}

::-webkit-scrollbar {
    width: 6px;
    height: 7px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px #777579;
}


.mat-expansion-panel-body {
    padding: 0 !important;
}

.mat-expansion-panel-header {
    padding: 0 1% !important;
}


.href-home {
    @apply text-gray-400 duration-300;

    &:hover {
        @apply text-blue-700;
    }
}

.text-no-found {
    @apply text-lg m-4 font-bold;
}