<mat-form-field class="assignee-container">
    <mat-select [formControl]="assigneeForm" multiple>
        <mat-select-trigger class="triger-container">
            @for (item of assigneeForm.value; track $index) {
            <img class="img-assignee" [src]="item.image" alt="assignee image">
            }
        </mat-select-trigger>
        @for (assignee of assigneeList; track assignee) {
        <mat-option [value]="assignee">
            <div class="option-container">
                <img class="img-assignee" [src]="assignee.image" alt="assignee image">
                <span>{{assignee.name}}</span>
            </div>
        </mat-option>
        }
    </mat-select>
</mat-form-field>