<div class="wrapper-table">
    <div>{{index}}</div>
    <app-taskcheck-box [id]="task.id" [status]="task.status" />
    <app-task-title [id]="task.id" [title]="task.title" />
    <app-task-date class="flex" [id]="task.id" [deadline]="task.deadline" />
    <app-task-assignee [id]="task.id" [assignee]="task.assignee" class="h-7" />
    <app-task-status [id]="task.id" [status]="task.status" />
    <app-task-priority [id]="task.id" [priority]="task.priority" />
    <app-task-control [id]="task.id" />
</div>